.App {
  text-align: center;
  font-family: Trebuchet MS;
}

.App-header {
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-body {
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 1.5vmin);
  color: black;
}

.upload-button {
  background: linear-gradient(to bottom, #ff9900 5%, #ff9900 100%);
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding: 10px 16px;
  text-decoration: none;
}
.upload-button:hover {
  background: linear-gradient(to bottom, #ffad33 5%, #ffad33 100%);
}

.upload-image {
  width: 25%;
  height: auto;
}

.upload-break {
  margin-bottom: 5px;
}

.title-line {
  width: 80%;
}

.dropzone {
  border-width: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  width: 75%;
  padding: 20px;
  display: inline-block;
}
